<style>
	/* en la directiva al cargar el slider se mete */
	.wrapper-slider {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background: blue;
	}

	.slider-container {
		height: 100%;
	}
</style>
<h1>Carousel</h1>
<ul rn-carousel class="image slider-container">
   <li>
  	<section class="card-out">
		<h1>3tart using <br><em>DailyExpression</em><br> today!</h1>
				
		<div class="teacher"></div>

		<section class="buttons-two buttons-out">
			
			<button style="z-index: 999999" class="de-button red" onClick="window.location = '#/fake_data'">
				Fake data
			</button>
			<button style="z-index: 999999" class="de-button white" onClick="window.location = '#/login'">
				login
			</button>
		</section>
	</section>
  </li>
  <li>
	<section class="card-out">
		<h1>3tart using <br><em>DailyExpression</em><br> today!</h1>
				
		<div class="teacher"></div>

		<section class="buttons-two buttons-out">
			
			<button style="z-index: 999999" class="de-button red" onClick="window.location = '#/fake_data'">
				Fake data
			</button>
			<button style="z-index: 999999" class="de-button white" onClick="window.location = '#/login'">
				login
			</button>
		</section>
	</section>
  </li>
  <li>
  	<section class="card-out">
		<h1>3tart using <br><em>DailyExpression</em><br> today!</h1>
				
		<div class="teacher"></div>

		<section class="buttons-two buttons-out">
			
			<button style="z-index: 999999" class="de-button red" onClick="window.location = '#/fake_data'">
				Fake data
			</button>
			<button style="z-index: 999999" class="de-button white" onClick="window.location = '#/login'">
				login
			</button>
		</section>
	</section>
  </li>
</ul>