<li>
	<section class="card-out">
		<h1>3tart using <br><em>DailyExpression</em><br> today!</h1>
				
		<div class="teacher"></div>

		<section class="buttons-two buttons-out">
			
			<button style="z-index: 999999" class="de-button red" onClick="window.location = '#/fake_data'">
				Fake data
			</button>
			<button style="z-index: 999999" class="de-button white" onClick="window.location = '#/login'">
				login
			</button>
		</section>
	</section>
</li>
<li>
	<section class="card-out">
		<h1>Start using <br><em>DailyExpression</em><br> today!</h1>
				
		<div class="teacher"></div>

		<section class="buttons-two buttons-out">
			
			<button class="red">
				<a href="#/register">Sing up</a>
			</button>
			 
			<button class="white">
				<a href="#/login">Login</a>
			</button>
		</section>
	</section>
</li>
<li>
	<section class="card-out">
		<button class="button-out-skip icon icon-text-icon" text-icon="SKIP"></button>
		<div class="table" style="height: 20%">
			<h1 class="content-cell">Dailies!</h1>
		</div>
		<div class="table" style="height: 43%">
			<div class="flip-container content-cell" flip="0">
				<div class="daily-card out flipper">
					<div class="front">
						<button class="icon icon-info"></button>
						<h1>YOUR DAILY</h1>
						<p>
							<span>Beat around the bush</span>
						</p>
					</div>
					<div class="back">
						<h1>EXPLANATION</h1>
						<p>
							<span>Es andarse por las ramas</span>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="table" style="height: 37%">
			<p class="copy content-cell">
				You get one expression per day. Tap on the card to see the explanation.
			</p>
		</div>
	</section>
</li>
<li>
	<section class="card-out">
		<h1>4tart using <br><em>DailyExpression</em><br> today!</h1>
				
		<div class="teacher"></div>

		<section class="buttons-two buttons-out">
			<!-- 
			<button class="secondary">
				<a href="#/register">Sing up</a>
			</button>
			 -->
			
			<button class="red">
				<a href="#/fake_data">Fake data</a>
			</button>
			<button class="white">
				<a href="#/login">Login</a>
			</button>
		</section>
	</section>
</li>